*,
*::before,
*::after {
	box-sizing: border-box;
	transition: all ease 1s;
	font-family: "Montserrat", sans-serif;
}

body {
	font-size: 18px;
	user-select: none;
	transition: all ease 0.5s;
}

.container {
	max-width: 370px;
	margin: 50px auto;
	/* display: grid;
	grid-template-columns: 250px 102px;
	grid-template-rows: 40px minmax(300px, 1035px);
	grid-column-gap: 15px; */
}

.buttons {
	display: flex;
	justify-content: space-between;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 750px;
	flex-wrap: wrap;
	margin: 10px auto 0;
}

label {
	font-size: 18px;
	margin-bottom: 5px;
	margin-left: 15px;
}

input {
	margin-bottom: 15px;
	outline: none;
	width: 370px;
	height: 30px;
	padding-left: 15px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

input[type="file"] {
	padding-left: 0;
	display: none;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	width: 25px;
	margin: 0 0 0 34px;
	height: 20px;
}

input[type="color"] {
	border: 0;
	padding-left: 0;
	width: 60px;
	margin-left: 32px;
	margin-bottom: 10px;
	height: 25px;
	width: 25px;
}

form[name="website_color_scheme"] {
	display: block;
	width: 310px;
}

form .inputFile {
	font-size: 15px;
	display: block;
	border: 0;
	border-radius: 0;
}

.deleteBtn {
	display: block;
	font-size: 25px;
	height: 30px;
	width: 103px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.deleteBtn:hover {
	transition: all ease 1s;
	background-color: red;
}

label[for="upload"] {
	display: block;
	border: 1px solid black;
	height: 30px;
	width: 250px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border-radius: 5px;
	margin: 0;
}

button {
	max-width: 371px;
	height: 30px;
	padding: 0;
}

button[type="submit"] {
	width: 185px;
	height: 30px;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid black;
	background-color: #fff;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
}

button[type="submit"] + button[type="submit"] {
	margin-top: 15px;
}

form [name="login"] button[type="submit"] {
	margin-top: 10px;
}

.links {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	width: 350px;
}

.links p {
	margin: 0;
	font-size: 16px;
	margin-right: 15px;
}

.links a {
	margin-right: 15px;
}

.signIn {
	transition: all ease 0.5s;
}

.signIn:hover {
	color: red;
}

.addpost .links input {
	margin: 0 5px 0 0;
}

.interview .links p {
	margin-right: 5px;
}

.interview .links input {
	margin: 0 5px 0 0;
}

.select {
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	height: 77px;
	padding: 3px 0 0 3px;
	margin-bottom: 15px;
	width: 370px;
}

.select option {
	height: 25px;
	/* font-size: 16px; */
}

@media (max-width: 420px) {
	.deleteBtn {
		width: 90px;
	}

	label[for="upload"] {
		width: 220px;
	}
}

@media (max-width: 390px) {
	.container {
		max-width: 340px;
	}

	input,
	.select {
		width: 340px;
	}
}

@media (max-width: 360px) {
	.buttons,
	input,
	.select {
		max-width: 304px;
	}
	.deleteBtn {
		width: 70px;
	}

	label[for="upload"] {
		width: 220px;
	}

	.container {
		max-width: 320px;
	}

	.signIn {
		font-size: 15px;
	}

	label {
		width: 290px;
	}

	.links {
		width: 308px;
	}

	.links a {
		margin-right: 8px;
	}

	.addpost .links a,
	.addpost .links p {
		font-size: 14px;
	}

	label {
		font-size: 16px;
	}

	input[type="color"] {
		margin-left: 47px;
	}

	input[type="checkbox"] {
		margin: 0 0 0 50px;
	}
}
